a:hover {
  opacity: 0.9;
}
.header-title {
  color: white;
}
@media only screen and (max-width: 650px) {

  .title-heading {
    font-size: 18px !important;
    text-align: center !important;
  }

}
@media only screen and (max-width: 600px) {
  .header-title {
    font-size: 14px !important;
  }
}

